/*
 Document   : preguntaus
 Created on : 06-dic-2011, 11:17:41
 Author     : jenkin90
 Description:
 Purpose of the stylesheet follows.
*/

/*
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*GENERAL*/
root {
    display: block;
}
html, body {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
#contenedor_cuerpo {
    width: 960px;
    margin: 0 auto 0 auto;
}
div.errores{
    margin:0 auto 0 auto;
    text-align: left;
    color: red;

}
div.campo div{
    float:left;
    width:50%;
}
.rotulos{
	text-align: center;
	color: #FF0000;
}
table{
	margin:25px auto 25px auto;
	text-align: center;
}
th{
	background-color: #3399cc;
	border-style: groove;
	border-color: #003366;
	border-width: thin;
}
tr{
	background-color: #ffff99;
}
td{
	border-width: thin;
	border-style: groove;
	border-color: #ffcc99;
}

/* BARRA SUPERIOR DE LOGIN, BARRA DE USUARIO */

#login {
    width: 100%;
    background-image: url('/abd/includes/styles/imagenes/fondocabecera.png');
    background-repeat: repeat-x;
    border: 0px;
    padding: 5px 0 0 0;
    margin: 0px;
    height:60px;
    color: white;
    vertical-align: middle;
}
#login-content {
    width: 960px;
    margin: 0 auto 0 auto;
}
#barraUsuario {
    width: 100%;
    background-image: url('/abd/includes/styles/imagenes/fondocabecera.png');
    background-repeat: repeat-x;
    border: 0px;
    padding: 5px 0 0 0;
    margin: 0px;
    height: 60px;
    color: white;
    vertical-align: middle;
}
#barraUsuario-content {
    width: 960px;
    margin: 0 auto 0 auto;
}
#logo {
    float: left;
    width: 25%;
    min-width: 170px;
    background-image: url('/abd/includes/styles/imagenes/iconos/Que.gif');
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    padding: 15px 0 0 5px;
}
#logo h1 {
    font-size: large;
    font-weight: bolder;
    margin: 0 0 0 50px;
    color: white;
    vertical-align: baseline;
}

#user-box {
    color: white;
    vertical-align: middle;
    height: 100%;
    width: 74%;
    font-size: small;
    float: left;
    text-align: right;
    padding-top:10px;
}
#user-box fieldset {
    border: 0px;
    display: inline;
}
#user-box a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
#imagenUserBox{
	float:left;
	padding-right:30px;
}
#camposUserBox{
	float:right;
	padding-bottom:5px;
}


/*PIE DE PÁGINA*/
#nombreProyecto {
    float: left;
    width: 49%;
    text-align: left;
}
#pie {
    background-image: url('/abd/includes/styles/imagenes/fondopie.png');
    color: white;
    vertical-align: middle;
    height: 70px;
    clear: both;
}
#contenedor_pie {
    width: 960px;
    margin: 0 auto 0 auto;
    vertical-align: middle;
    height: 100%;
}
#contenedor_pie #autores {
    text-align: right;
    font-size: small;
    height: 100%;
}
#contenedor_pie #autores li {
    list-style-type: none;
    height: 100%;
}
#contenedor_pie #nombreProyecto {
    margin-left: 5px;
    height: 100%;
}

/*INDEX*/
#preguntas {
    float: left;
}
#columna {
	margin-top:20px;
    width: 350px;
    text-align: left;
    float: right;
    clear: right;    
}
#cuadro_busqueda{
	height:40px;
    background-image: url('/abd/includes/styles/imagenes/fondocolumna.png');
}
#textoBuscarIndex{
	padding-left:10px;
	padding-top:7px;
	float:left;
}
#botonSubmitIndex{
	padding-right:10px;
	padding-top:7px;
	float:right;
}
#palabrasIndex{
	width: 180px;
}
#botonBuscarIndex{
	float:right;
}
#etiquetas_mas_frecuentes{
	margin-top:50px;
	padding-top:10px;
	background-image: url('/abd/includes/styles/imagenes/fondoTags.png');
	text-align: center;
}
.botonEnlaceTag{
	margin-bottom: 3px;
}

/*BARRA NAVEGACIÓN*/
#barraNavegacion {
    margin:0 auto 0 auto;
    margin-top:7px;
    text-align: center;
    clear: both;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    height: 31px;
    background-image: url('/abd/includes/styles/imagenes/fondobarranavegacion1.png');
    background-repeat: repeat-x;
    width:960px;
}
#barraNavegacion a.separado {
    padding-left: 2em;
}

/*BUSCAR*/

#cuadroBusqueda {
    margin:0 auto 0 auto;
    clear:both;
    margin-top:20px;
    width:400px;
    height: 120px;
    background-image: url('/abd/includes/styles/imagenes/fondocuadrobusqueda.png');
}
#labelsBusqueda{
    padding-top:10px;
    padding-left:10px;
    text-align:right;
    float:left;
}
#labelsBusqueda div.labelBusqueda{
    padding-bottom:10px;
}
#inputsBusqueda{
    padding-top:10px;
    padding-right:10px;
    float:right;
    margin-right:5px;
}
#inputsBusqueda div.inputBusqueda{
    padding-bottom:9px;
}
#palabras,#tag{
    width: 230px;
}
#botonBuscar{
    text-align:center;
    padding-top:15px;
    clear:both;
}


/*REGISTRARSE, PERFIL*/

#cuadroRegistrarse{
    margin:40px auto 0 auto;
    padding-top: 20px;
    clear:both;
    width:500px;
    
    background-repeat: no-repeat;
    padding-left: 5px;
}
div.cuadroRegistrarse p{
    margin: 0 auto 0 10px;
    text-align: center;
}
#botonRegistrarse{
    text-align:center;
    padding-top:20px;
    clear:both;
}


/*PREGUNTAS*/
div.usuarioPregunta{
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    float: left;
    clear:left;
    width:100px;
}
div.datosPregunta{
    padding-bottom:5px;
    padding-right:5px;
    padding-top:5px;
    float:right;
    clear: right;
    width:380px;
}
div.tituloPregunta{
    font-family:sans-serif;
    font-size:large;
    padding-top:5px;
    padding-bottom:10px;
    clear: both;
    width: 390px;
}
div.estadisticasPregunta{
    width: 390px;
    height: 35px;
}
label.respuestas, label.visitas{
    padding-left:10px;
}
/*Pregunta sin responder*/
div.pregunta {
    margin-top: 25px;
    margin-bottom: 5px;
    width: 500px;
    height: 120px;
  	background-image: url('/abd/includes/styles/imagenes/fondoPregunta.png');
  	background-repeat: no-repeat;
}
/*Pregunta respondida con fondo*/
div.preguntaRespondida {
    margin-top: 25px;
    margin-bottom: 5px;
    width: 500px;
    height: 120px;
    background-image: url('/abd/includes/styles/imagenes/fondoPreguntaRespondida.png');
  	background-repeat: no-repeat;
}

/*ADMINISTRACIÓN*/
/*Menú administrador*/
.enlaceAdministracion{
	margin:15px auto 0 auto;
	text-align: center;
}
/*Administración de tags*/
#cuadroTag{
	height:80px;
	width:330px;
	text-align:center;
	margin:30px auto 0 auto;
	background-image: url('/abd/includes/styles/imagenes/fondoCuadroCrearTag.png');
}
#datosCreacionTag{
	padding-top:9px;
}

#datosCreacionTag label{
	float:left;
	padding-left:13px;
}

#botonCrearTag{
	clear:both;
	margin-top:10px;
	
}

/*PREPARAR ELIMINACIÓN DE RESPUESTA*/
#cuadroeliminacion{
 	margin:40px auto 0 auto; 
    padding: 20px 0 150px 0;
    clear:both;
    width:760px;
    height: 200px;
    background-image: url('/abd/includes/styles/imagenes/fondocuadroeliminarespuesta.png') ; 
    background-repeat: no-repeat;
}
#div_datoUsuario,
#div_respuestaElimina{
	margin-left: 10px;
}
#label_emailEliminaRespuesta,
#label_contenidoEliminaRespuesta{
	display: block;
	margin-left:30px;
	float: left;
	width: 18em;
	padding-right: 0.5em;
	font-family: "Arial Black";
	font-size:14px;
}

/*OTROS*/

#campo{
    margin:10px 0 10px 0;
}
#labelsRegistrarse{
    padding-top:10px;
    padding-left:10px;
    text-align :right;
    float:left;
    clear: left;
}

#inputsRegistrarse{
    padding-top:10px;
    padding-right:10px;
    float:right;
    clear:right;
}
#inputsRegistrarse div.separado{
    padding-top:5px;
}
#inputsRegistrarse input{
    width: 200px;
}
div.labelRecuadroLogin{
	padding-left:10px;
	float:left;
}
div.inputRecuadroLogin{
	padding-right:10px;
	float:right;
}

#div_datoUsuario,
#div_respuestaElimina{
	margin-left: 10px;
}
 #div_respuestaElimina{
 	margin-top: 20px;
 }
 #emailCuadroPregunta{
 	margin-left: 60px;
 }

 #div_titulo,
 #div_cuerpo,
 #div_numerorespuestas{
 	margin-bottom: 0.5em;
 	margin-left: 1px;
  }
  #div_titulo{
  	margin-top: 10px;
  }
 #label_titulo,
 #label_cuerpo,
 #label_numeror{
  display: block;
  float: left;
  text-align: left;
  width: 22em;
  padding-right: 0.5em;
  font-family: "Arial Black";
  font-size:14px;
 }
 #contenidoTitulo,
 #contenidoCuerpo,
 #contenidoNumeroRespuesta{
 	font-family: "Arial Black";
  	font-size:13px;
 	
 }
 #recuadroPregunta{
 	margin:0 40px 0 40px; /* arriba, dcha,abajo, izda */ 	
 }
 
 #respuesta{ 	
 	float:left;
 	clear:left;
 	margin-left: 40px;
 	margin-top:0px;
 	font-family: "Arial Narrow";
 	font-size:20px;
 }
 #div_formularioRespuesta{
 	float:left;
 	float:left;
 	margin-left: 250px; 	
 }

 #cuerpoPregunta{
 	margin-left: 50px;
 }
 #div_botones{
 	margin: 20px 0 0 150px;/* arriba, dcha,abajo, izda */
 }
 #div_botonConfirmar{
	float:left;
	padding: 50px 0 5px 350px;
}
/* Eliminacion de una Respuesta */
#cuadroModificacion{
 	margin:40px auto 0 auto; 
    padding: 20px 0 150px 0;
    clear:both;
    width:760px;
    height: 150px;
    background-image: url('../imagenes/fondocuadroeliminarespuesta.png') ; 
    background-repeat: no-repeat;
}
 #label_eliminaRespuesta{
 	font-family:"Arial Black" ;
 	font-size:14px; 
 	color:#000000;
 	vertical-align: top
 	}
 /*
  * Pantalla que modifica una determinada respuesta
  * Realizado por el administrador o usuario logado.
  */
 #label_modificaRespuesta{
 	font-family:"Arial Black" ;
 	font-size:14px; 
 	color:#000000;
 	vertical-align: top
 	}
 #text_modificaRespuesta{
 	margin:5px 0px 0px 45px;/* arriba, dcha,abajo, izda */
 } 	
 #div_botonModificar{		
	margin: 20px 250px 20px 250px;/* arriba, dcha,abajo, izda */	
}	
#botonModificar{
	text-align: center;
	margin-left: 60px;
}
 #div_datoUsuario{
 	margin-left: 10px;	
 }
 #div_modifica_respuesta{ 	
 	margin-top: 5px;
}

/*
 * Pantalla de Respuestas de la pregunta 
 * valido para usuario no logado, logado y administrador
 */
#content{
	float:left;
    border:2px solid #a1a1a1;
	padding:10px 0 0 10px; 
	background:#dddddd;
	width:95%;
	margin:5px 30px 5px 30px;
	-moz-border-radius:1px;	
}

th{
	border-style:solid;	
	background-color: #f0f8ff;
}
#div_datosUsuario{
	margin-left: 20px;
	line-height: 30px;
	margin-top: 5px;
}
#div_datosPregunta{
	float:left;	
	margin-left: 20px;
	line-height: 30px;
}
#div_camposPregunta{
	float:left;
	margin-left: 30px;
	line-height: 30px;
	width: 400px;
}
#div_seleccionaTag{
	float:left;
	margin-left: 30px;
	line-height: 30px;
}
/*
 * Pantalla que introduce una nueva pregunta
 * Valido para usuarios logados o administrador
 */
#cuadropregunta{
 	margin:10px auto 0 auto; 
    padding: 20px 0 150px 0;
    clear:both;
    width:800px;
    height: 180px;
    background-image: url('/abd/includes/styles/imagenes/fondocuadroinsertapregunta.png') ; 
    background-repeat: no-repeat;
 }
 .etiquetaPregunta{
 	font-family:"Arial Black" ;
 	font-size:14px; 
 	color:#000000;
 }
#div_botonConfirmaPregunta{
	float:left;
	margin: 5px 0 20px 300px;/* arriba, dcha,abajo, izda */
} 
.label_preguntaRespuesta{
	font-weight: bold;
}
 #cuerpo{
 	margin-left:10px;
 	float:left;
 	width: 700px;
 }
 #tituloPregunta{
 	float: left;
 	width: 500px;
 	margin-right: 10px;
 }
 div.error {  
  border : 2px solid red;
  padding : 10px;
  margin: 10px;
  width: 300px;
}


#respuesta{
    width: 100%;
}


